@import '../../../../default.styl'
tablet = 'screen and (min-width: 768px) and (max-width : 1024px)'
.fag
    display flex
    width 100%
    justify-content center
	.fag-content
        display flex
        width 90%
        flex-direction column
        position relative
        height calc(100vh - 100px)
        .atras-container
            width 100%
            display flex
            justify-content center
            .atras
                width 65%
                @media tablet
                    width 100%
                display flex
                flex-direction column
                margin-top 64px
                align-items flex-end
                h2
                    font-size 104px
                    @media tablet
                        font-size 55px
                        width 40%
                    @media mobile 
                        font-size 20px
                    color white
                    text-shadow: 0px 0px 15px #ffffff
                    margin 0px
                    width 65%
                    font-family Bebas
                    font-weight 100
                    &:first-child
                        text-align end
                    &:last-child
                        text-align start

        .delante
            position absolute
            display flex
            flex-direction column
            justify-content center
            align-items center
            height 100%
            .medio
                display flex
                justify-content center
                align-items center
                height 100%
                .explicacion
                    flex 1
                .mapa
                    flex 2
                    .contenedor
                        height auto
                        width 100%
                        svg
                            height auto
                            width 100%
                        @media tablet
                            height 200px
                            width auto
                            svg
                                height 100%
                                width auto
                .carrerasss
                    flex 1
                    .estadito
                        h3
                            color #ef6100
                            font-family Loto
					.carreritas
                        color gray
                        li
                            &:hover
                                cursor pointer

            .texto
                color gray
                width 100%
                display flex
                p
                    font-size 16px
                    width 45%
                    justify-content center
                    @media tablet
                        width 100%
                        font-size 12px
                    @media mobile 
                        font-size 8px                    
