.fag
	.fag-content
		.atras-container
			.atras
				h2 PRESENCIA
				h2 NACIONAL
		.delante
			.medio
				.explicacion
					explicacion
				.mapa
					include ./mapa.component.pug
				.carrerasss
					.estadito(*ngIf="estado && estado.$tiene_carrera == 'Si'" )
						h3 {{estado.$estado}}
					.carreritas(*ngIf="estado && estado.$tiene_carrera == 'Si'")
						ul(*ngIf="!cargando")
							li(*ngFor="let carrera of carrerasEnElEstado" (click)="verCarrera(carrera.$id)") {{carrera.$nombre}}
					mat-spinner(style="width=24px" *ngIf="cargando")
			
