.privacidad
	.privacidad-content
		h1 Nuestro compromiso con la privacidad 
		h2 Su privacidad es importante para nosotros. 
		p Para proteger mejor su privacidad proporcionamos este aviso explicando nuestras prácticas de información en línea y las opciones que usted puede hacer sobre la manera en que su información es recogida y usada. 
		h2 ¿Qué información se recopila? 
		p Recopilamos información cuando usted llena su registro raza, incluyendo su nombre, correo electrónico, dirección, número de teléfono, fecha de nacimiento y datos de pago. 
		h2 ¿Para qué utilizamos su información? 
		p Toda la información recogida se puede utilizar para mejorar nuestro sitio web , mejorar el servicio al cliente , para procesar transacciones , enviar correos electrónicos periódicos con información sobre la carrera de Glow Run 5K, para administrar un concurso , encuesta, promoción de otros eventos de carreras u otras características del sitio . Toda la información de tarjeta de crédito se utilizará únicamente para procesar la inscripción para el registro actual comprada y sólo será compartida con los afiliados con el procesamiento de la transacción y no se almacena por Glow Run 5K
		br
		p También podemos divulgar información cuando creemos que es apropiado para cumplir con la ley, hacer cumplir las políticas del sitio, o para proteger la nuestra o de otros derechos, propiedad o seguridad. Información de identificación no personal se puede proporcionar a terceros para la comercialización, publicidad, u otros usos. Su dirección de correo electrónico nunca será vendida a filiales del exterior. 
		h2  ¿Cómo protegemos su información?
		p Implementamos una variedad de medidas de seguridad para mantener la seguridad de su información personal y se tomarán todas las medidas para proteger esta información. 
		h2 Sólo en línea Política de privacidad 
		p La política de privacidad online se aplica únicamente a la información recogida a través de nuestra página web y no a la información recogida fuera de línea. 
		h2 CONSENTIMIENTO 
		p Mediante el uso de nuestro sitio y la presentación de su registro, usted da su consentimiento a la política de privacidad en línea, como se ha dicho. 
		p Al enviar, publicar o mostrar cualquier contenido, imágenes y otros materiales en nuestra página de facebook, que nos otorga una licencia mundial, libre de regalías no exclusiva (con derecho a sublicenciar) para usar, copiar , reproducir , procesar, adaptar , modificar, publicar , transmitir, mostrar y distribuir dicho contenido, imágenes u otros materiales en cualquier medio de comunicación , la publicidad , la comercialización u otros métodos de distribución ya sea conocido actualmente o desarrollado posteriormente. 
		h2 Cambios en la Política de Privacidad 
		p Los cambios realizados en esta política de privacidad serán anotadas en esta página. 
		p Esta política fue modificada por última vez el 26/11/2018. 
		h2 CONTACTO 
		p Si hay alguna pregunta sobre esta política de privacidad, puede ponerse en contacto con nosotros usando la información que aparece a continuación. 
		h3 contacto@glowrun5k.com.mx