mat-accordion
	mat-expansion-panel(hideToggle)
		mat-expansion-panel-header
			mat-panel-title
				mat-icon add
				p  ¿Que es GlowRun5k?
		p GLOW RUN 5K más que una carrera nocturna, es una experiencia llena de brillo, luz y diversión que invita a personas de todas las edades y condiciones, a disfrutar de un evento de 5 km sin precedentes en todo México. Única en toda la república, con más de una tonelada de pintura fluorescente no tóxica, lavable de la ropa y cualquier otra superficie; estaciones de luz negra y música de DJs, estarás viviendo al máximo la experiencia de combinar el deporte, con un espectáculo y una diversión sin igual. 
	mat-expansion-panel(hideToggle)
		mat-expansion-panel-header
			mat-panel-title
				mat-icon add
				p ¿Hay algun limite de edad?
		p Claro que no, Glow Run 5K es para todas las edades, siempre nos acompañan familias enteras y recomendamos que los niños menores de 12 años vayan acompañados de un adulto. Mayores de 6 años se deben de registrar y los menores de 6 años pueden participar sin costo.
	mat-expansion-panel(hideToggle)
		mat-expansion-panel-header
			mat-panel-title
				mat-icon add
				p ¿La pintura se lava de la ropa y tenis? ¿Y el medio ambiente?
		p Es totalmente lavable de cualquier superficie, la pintura es no tóxica y biodegradable, por lo que fácilmente se disuelve con el agua.
	mat-expansion-panel(hideToggle)
		mat-expansion-panel-header
			mat-panel-title
				mat-icon add
				p ¿Tengo que ser un gran corredor?
		p Corre, trota, camina, baila, en silla de ruedas, en carriola, ¡como sea que logres 5 kilómetros!, recuerda que no se trata de llegar primero y no hay cronómetros, ¡vas a divertirte y a salir de la rutina
	mat-expansion-panel(hideToggle)
		mat-expansion-panel-header
			mat-panel-title
				mat-icon add
				p ¿Por que no hay cronometros?
		p Glow Run 5K no es una carrera de competencia, es de convivencia con familia y amigos. Existen muchísimas carreras para que compitas probando tu velocidad, resistencia y tiempo. Los participantes de Glow Run 5K por lo general se toman su tiempo para divertirse y tomarse fotos en las estaciones de pintura Glow.
	mat-expansion-panel(hideToggle)
		mat-expansion-panel-header
			mat-panel-title
				mat-icon add
				p ¿Que incluye mi kit de corredor? ¿Donde y cuando lo recojo?
		p Los participantes reciben un kit con playera deportiva de Glow Run 5K, lentes y accesorios glow, numero de corredor y una medalla conmemorativa al cruzar la meta. El kit se recoge desde uno o dos días antes de la carrera según la ciudad, en el lugar y horario indicado en la convocatoria o en el comprobante de inscripción.
	mat-expansion-panel(hideToggle)
		mat-expansion-panel-header
			mat-panel-title
				mat-icon add
				p ¿Alguien mas puede recoger el kit por mi?
		p No hay problema, muchas veces mandan a una persona a recoger muchos kits, ya que es entendible que muchos no pueden por el horario. Deben acudir con los comprobantes de inscripción con copia de una identificación.
	mat-expansion-panel(hideToggle)
		mat-expansion-panel-header
			mat-panel-title
				mat-icon add
				p ¿Hay reembolsos? ¿Puedo transferir mi registro a otra persona?
		p No hay reembolsos ya que la logística lo hace imposible. Pero si es posible transferir tu registro, solo deben presentarse con tu comprobante de inscripción y una nota aclaratoria con copia de una identificación para poder validad que en efecto, el titular del registro está de acuerdo.