@import '../../../../../default.styl'

.mat-expansion-panel
	background transparent
	color gray
	// height 30px !important
.mat-expansion-panel-header
	background transparent
	color gray
	@media normal
		height 22px !important
	@media grande
		height 22px !important		
	mat-panel-title
		color gray
		align-items center
		p
			font-family Bebas
			font-weight 400
			

.mat-expansion-panel-body
	color verde
	@media mobile 
		font-size 5px !important
