.boleto
	.boleto-content
		.fila1
			.contador(*ngIf="time1$")
				.tiempo(*ngIf="time1$ | async as time1")
					p El precio elevará su costo en:
					h3 {{time1.days}} dias {{time1.hours}} hrs
				include ../partials/manchita.pug
		.fila2
			.title
				h1 COMPRAR
				h1 BOLETOS
			.cuadrado
				.fondo-cuadro(*ngIf="carrera && actual")
					.detalles
						a([routerLink]="'/carreras/' + carrera.$id"  target="_blank" [ngStyle]="{'color': 'white'}") Ver detalles de la convocatoria
					.info
						.fecha
							p.dia {{carrera?.$fechaini | date : 'dd'}}
							p.mes {{carrera?.$fechaini | date : 'MMMM'}}
							p.nombre {{carrera?.$nombre}}
						.precio
							.ahora
								p.promocion Promocion: 
								h2 {{actual?.$precioini | currency}}
								p.mxn mxn
							.despues(*ngIf="proximo")
								p.des Precio regular:
								p.pre {{proximo?.$precioini | currency}}
								p.mxn mxn
					.productos
						label(for="cantidad") Cantidad:
						.inputs
							input(type="number" id="cantidad" placeholder="cantidad" (change)="cambiarPrecio($event)"  min="1" value="1" autocomplete="off" required)
							input(type="text" id="cupon" placeholder="Codigo cupon de esta carrera" (change)="checarCupon($event)"  autocomplete="off" required)
							mat-error(*ngIf="!cuponValido").error Código no valido o expirado
						p.total Precio a pagar: {{precioCompra | currency}} *incluye costo de servicio
						.aceptar
							.uno
								input(type="checkbox" [(ngModel)]="checket.condiciones")
								a(href="https://www.glowrun5k.com.mx/condiciones" target="_blank") Acepto los terminos y condiciones
							.uno
								input(type="checkbox" [(ngModel)]="checket.privacidad")
								a(href="https://www.glowrun5k.com.mx/privacidad" target="_blank") Acepto las políticas de privacidad
						button(mat-button (click)="irComprar()") Confirmar
				.svg1
					include ../partials/manchita.pug
				.svg2
					include ../partials/manchita.pug
		.fila3
			.politicas
				p La inscripcion incluye un kit de corredor que contiene playera conmemorativa, número de corredor, accesorios de glowsticks. Portar el numero de corredor durante la carrera te da derecho a recibir hidratacion y una medalla al cruzar la meta.
		.fila4
			.titulo-proximos
				h3 PROXIMAS CARRERAS
			.carreras-proximas
				h3(*ngFor="let carrera of carrerasProximas | slice:1;" (click)="verCarrera(carrera.$id)" [style.color]="paleta[1]") {{carrera?.$nombre}}