main
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    header
        include ./partials/header.pug
    .contenido([@routerTransition]="getState(o)")
        router-outlet(#o="outlet")
    footer
        .row
            .izquierda
                p 2018 Glow Run 5k
            .centro
                p
                    a(href="https://www.glowrun5k.com.mx/privacidad" target="_blank") Políticas de privácidad
            .derecha
                a(href="https://www.facebook.com/TheGlowRun5K/" target="_blank")
                    img(src="assets/images/glow_facebook.png")
                a(href="https://www.instagram.com/glowrun5k/" target="_blank")                        
                    img(src="assets/images/glow_instagram.png")
                a(href="https://twitter.com/theglowrun5k?lang=es" target="_blank")
                    img(src="assets/images/glow_twitter.png")
    //- canvas.fireworks#fireworks
