.login
	.login-content
		.fila1
		.cuerpo
			.tito
				h1 Registrate
			//- form([formGroup]="loginForm" id="login" (ngSubmit)="login(loginForm)" novalidate).formulario
			//- 	input(type="text" id="nombre" formControlName="usuario"  placeholder="usuario" autocomplete="off" required)
			//- 	input(type="text" id="nombre" formControlName="contra"  placeholder="contrasena" autocomplete="off" required)
			//- 	button(type="submit") iniciar we
			.back-login-icons
				img(src="assets/images/cuadritos/glow_registrate.png", alt="")
				.contenido-icons
					a(href="/login/facebook")
						include ../partials/facebook.svg.pug
					a(href="/login/google")
						include ../partials/google.svg.pug						
					a(href="/login/twitter")
						include ../partials/twitter.svg.pug
		.pies
			.di
			p Estás por registrarte en la página, revisa nuestro aviso privacidad y Terminos Y Condiciones.
			.do
